source_env .env.local

# global
export NODE_OPTIONS="--max-old-space-size=8192"

nvmrc=.nvmrc # target the node version file
if [ -f "$nvmrc" ]; then
  version="$(cat "$nvmrc")" # read the version from the version file
  source ~/.nvm/nvm.sh # add nvm to this limited shell
  nvm use $version
fi
